<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="header">
    </div>
    <ion-card class="body">
      <div class="img">
        <img src="https://demo.bpm.gt//CONFIG/img/logo_largo.png">
      </div>
      <form (ngSubmit)="login()" [formGroup]="loginForm">
        <ion-list>
          <ion-item mode="md">
            <ion-icon slot="start" name="person-circle-outline"></ion-icon>
            <ion-input placeholder="User" type="name" clearOnEdit="true" clearInput formControlName="nombre">
            </ion-input>
          </ion-item>
          <div class="errors" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <span *ngIf="nombre.errors.required">
              <ion-label class="error-container">Este campo es requerido</ion-label>
            </span>
          </div>
          <ion-item mode="md">
            <ion-icon slot="start" name="lock-open"></ion-icon>
            <ion-input placeholder="Password" type="password" clearOnEdit="true" clearInput formControlName="password">
            </ion-input>
          </ion-item>
          <div class="errors" *ngIf="password.invalid && (password.dirty || password.touched)">
            <span *ngIf="password.errors.required">
              <ion-label class="error-container">Este campo es requerido</ion-label>
            </span>
          </div>
        </ion-list>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="block" class="button-1" type="submit" [disabled]="!loginForm.valid" style="color:white;">Entrar
                <ion-icon slot="start" color="white" name="enter-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card>
  </div>

  <p style="color: white; text-align: center; font-style: oblique; font-size: 13px; margin-top: 38%;">Powered by <b>Cuántica</b></p>
</ion-content>